* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: "Lato", sans-serif;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 1500px; */
    background-color: #7d828b5d;
    max-width: 1600px
}

body {
    width: 75vw;
    height: fit-content;
    background-color: #e4e6e6;
    /* border: 2px solid red; */
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid blue; */
    background-color: #f8f4f4;
    align-items: center;
    width: 100%;
}

.nav #toggler,
.fas {
    display: none;
}

.nav-logo {
    /* margin: 10px 40px 0 0; */
    width: 15vw;
    height: fit-content;
    /* border: 4px dotted violet; */
}

.nav-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4vw;
    width: fit-content;
    list-style: none;
    height: 9vh;
    width: auto;
    /* border: 2px solid darkblue; */
}

.nav-ul-li-a {
    text-decoration: none;
    color: #3d3d3d;

    &:hover {
        color: #888888;
    }

    &:active {
        text-decoration: none;
        color: #262626;
    }

}

.nav-login {
    margin: 0 10px 0 0;
    height: 6vh;
        width: 14vw;
    border-radius: 170px;
    font-weight: bolder;
    border: 1px rgb(138 138 138) solid;

    &:hover {
        cursor: pointer;
        font-weight: bolder;
        background-color: #d1ddec;

        &:active {
            cursor: pointer;
                font-weight: bolder;
                color: #f3f3f3;
            background-color: #7ba8df;
        }
    }
}


/* Img */

.img-box {
    width: 100%;
    height: fit-content;
    /* border: 2px solid cadetblue; */
}

.img-box-camels {
    width: 100%;
}

.img-yonas {
    width: 25%;
    float: left;
}

.container1 {
    padding: 10px;
    width: 100%;
    height: 600px;
    margin: 5px 0 0 0;
    text-align: justify;
    overflow: scroll;


}

.container1 img {
    float: left;
    margin: 15px 10px 0 0;
    width: 25vw;
    /* position: relative;
    top: 20px; */
    clip-path: polygon(0 12%, 100% 12%, 100% 87%, 0 87%);

}

.container1 h3 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.container1 p {
    margin: 5px 0 10px 0;
    font-size: 1.1em;
}



/* footer*/


.footer {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* border: 5px solid lawngreen; */
    width: 100%;
    height: fit-content;
    background-color: #707ea0d1;

}

/* footer svg {
    color: red;
    border: #000000 2px solid;
} */
.footer,
h2 :not(#h2) {
    font-size: 1.6rem;
    color: rgb(17, 19, 18);
    margin: 0 0 0 0;
    /* border: 2px solid saddlebrown; */
}

.footer,
h4,
a :not(.nav-ul-li-a) {
    font-size: 1em;
    text-decoration: none;
    margin: 0 0 -7px 0;
    color: rgb(31, 36, 34);
    /* border: 2px solid rgb(63, 38, 21); */
}



.foo-div1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    align-items: center;
    background-color: #707ea0d1;
}


/*  foo- div1- a   */


.foo-div1 a {
    color: #181818;
    text-decoration: none;
}


.foo-div-img-logo2 {
    /* position: absolute; */
    width: 9vw;
    height: 20vh;
    /* border: 2px dotted #c4ceda; */
}

.foo-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 10vw;
    height: 17vh;
    /* border: 3px solid cadetblue; */
}


/*foo- hr */


.foo-hr {
    background-color: #000000;
    height: 4px;
    color: #000000;
    width: 100%;
    border: none;
}

/*  footer span */


.footer-div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px solid seagreen; */
    height: 4vh;
    width: 76vw;
}

.foo-div-2-p {
    width: auto;
    color: #403f3f;
    margin: 3px 0 0 0;
    /* border: 2px solid sandybrown; */

}

.foo-span-div2 {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 6.2vw;
    width: fit-content;
    height: fit-content;
    /* border: 2px solid darkblue; */
    margin: 4px 0 0 0;
}

.foo-span-div2,
a {
    /* border: #181818 solid 2px ; */
    width: fit-content;
    height: fit-content;
}

.foo-path {
    border: 2px solid rgb(73, 58, 46);

    &:hover {
            background-color: #363636;
            border: 2px solid rgb(73, 58, 46);


        .foo-icon {
                width: 30px;
                height: 18px;
                /* border: 2pxl solid rgb(37, 17, 47); */
            }